body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #000000;
    text-align: center;
    padding: 20px;
}

header {
  display: flex;
  justify-content: space-around;
}

header h1 a {
    color: #1db954;
    text-decoration: none;
}

#playlist button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#playlist button:hover {
    background-color: #1ed760;
}

#audioPlayer {
    margin-top: 30px;
    width: 80%;
}

  .log-button {
    background-color: #19b44f;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    height: fit-content;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .log-button:hover {
    background-color: #189b46;
  }

/* logowanie */

.login-main {
  background: #1ed75f23;
  border: 2px solid #1db954;
  border-radius: 5px;
  padding: 20px;
}

.login-main h2 {
  color: #ccc;
  margin-bottom: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 42px;
}

.inputGroup-login {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.register-container {
  display: flex;
  justify-content: center;
}

.btn-login-container{
  margin-top: 20px;
}

.btn-login {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 75px;
  height: 66px;
  width: 170px;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  background: #1db954;
  color: #fff;
  font-weight: 700;
  font-size: medium;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow .3s ease,background .3s ease,color .3s ease;
  touch-action: manipulation;
}

.btn-login:hover{
  background-color: #189b46;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* rejestracja */


input {
  display: block;
  height: 46px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  padding: 10px;
  background-color: #fff;
  outline: none;
  box-shadow: none;
  width: 80%;
  border-radius: 5px;
  touch-action: manipulation;
}

label {
  color: #fff;
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-align: left;
}

fieldset {
  margin-bottom: 0;
  border: none;
}

.register-main {
  background: #1ed75f23;
  border: 2px solid #1db954;
  border-radius: 5px;
  padding: 20px;
}

.register-main h2 {
  color: #ccc;
  margin-bottom: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 42px;
}

.register-container {
  column-count: 2;
}

.inputGroup-register {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.btn-register-container{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-register {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 75px;
  height: 66px;
  width: 170px;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  background: #1db954;
  color: #fff;
  font-weight: 700;
  font-size: medium;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow .3s ease,background .3s ease,color .3s ease;
  touch-action: manipulation;
}

.btn-register:hover{
  background-color: #189b46;
}

/* #register-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.register-container form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.register-container form button:hover {
  background: #0056b3;
}

.register-container #message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  text-align: center;
} */